.streakIcon {
  background-image: url('../../assets/fire-icon.svg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.661);
}

.overlay {
  position: absolute;
  background-color: #00000050;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: col;
  justify-content: center;
  align-items: center;
}

.hiddenScrollbar {
  scrollbar-width: none;
}
